name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   # 매일 00:00 UTC 실행
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 저장소 체크아웃
      - name: Checkout
        uses: actions/checkout@v3

      # Snake SVG 생성
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: junbeom-cho
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg

      # 결과물을 output 브랜치에 push
      - name: Push snake
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
